#cat{
    color: var(--text-black-900-);
}
.container{
    background-color: var(--text-black-700);
}
.category{
    background-color: var(--bg-black-900);
    border-radius: 17px !important;
}
h6{

 /* font-style: normal; */
font-weight: 490;
font-size: 16px;
line-height: 19px; 
} 
p{
    font-weight: 490;
font-size: 22px;
line-height: 28px;
}
#suggest{
    color: var(--text-black-900-);
    font-weight: 700;
font-size: 100%;
line-height: 75px;
}
#ques{
    width: 40px !important;
    height: 80px !important;
}
.cont{
    background-color: var(--text-black-700); 
    border-radius: 9px; 
}
.suggestion{
    position: absolute;
    margin-left: 23% !important;
    width: 55%;
    padding: 1.6%;
    margin-top: -70px;
    border-radius: 20px !important;
}
.cat_law{
    height: auto;
    padding-bottom: 90px;
    
}

/* media query for lawyer profile card */
@media screen and (max-width: 587px) {

  .sugg  {
    font-size: smaller;
    margin-bottom: 10px !important;
    
  }

}
